@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap")
    format("truetype");
}

.bottom_navbar {
  margin-top: -130px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: white;
}

.contact_btn {
  border: 2px solid rgb(183, 28, 28, 0.6);
  padding: 8px;
  width: 150px;
}
.navv {
  margin-right: 20px;
}
.nav-item1 {
  margin-right: 20px;
  font-weight: normal;
  /* font-family: "Roboto", Helvetica, Arial, serif; */
}
.footer {
  margin-top: 100px;
}

.about_section {
  margin: 0 auto;
  /* padding-left: 100px; */
}

.backbone {
  background-color: #fef2f2;
  padding-top: 15px;
  padding-bottom: 50px;
}
.backdody {
  padding-left: 100px;
  padding-right: 100px;
}

.slide {
  -webkit-box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.4);
  -moz-box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.4);
  box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.4);
  margin-top: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.carsole_head {
  color: rgb(183, 28, 28);
  font-weight: normal;
  font-size: 40px;
  margin-top: 60px;
}
.carsole_subhead {
  color: rgb(93, 93, 93);
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 15px;
}

.name_carsole {
  font-weight: bolder;
  color: rgb(93, 93, 93);
  margin-top: 65px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.title_carsole {
  color: rgb(93, 93, 93);
  margin-top: -15px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.footer-don {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.footer-don1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.footer1 {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0px;
  right: 0px;
}

.carousel-indicators li {
  /* text-align: center; */

  /* font-size: 30px;
  color: rgb(183, 28, 28);

  right: 470px; */
  top: 80px;
  /* list-style-type: disc; */
}

a.close-modal {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 200px;
  height: 200px;
  visibility: hidden;
  background: green;
  border: 2px solid white;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
}
.h4 {
  background: #b71c1c;
  border-radius: 50%;
  padding: 10px;
  height: 32px;
  line-height: 10px;
  position: relative;
  left: 10px;
  top: 0px;
}
.h4:hover {
  text-decoration: none;
}

.carousel-indicators li::before {
  content: "\2022";
  color: #bc1c1c;
  font-weight: bold;
  display: inline-block;
  font-size: 40px;
  text-align: center;
  left: 500px;
  top: -12px;
}
.conatin {
  /* padding-right: 40px; */
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 100wh;
  background: url("../Image/Main2.png") no-repeat scroll 0 0 transparent;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: top; */
  height: 410px;

  /* background-attachment: fixed; */
  background-position: top;
  /* background-color: rgba(255, 255, 255, 1); */
}

.conatinn {
  /* padding-right: 40px; */
  padding-left: 220px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  /* background: url("../Image/balls.png"); */
  /* background-size: 800px 600px;
  background-position: center; */
}

.footer_container {
  /*padding-right: 40px; */
  padding-left: 220px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  /* background: url("../Image/footer.png"); */
  background-size: cover;

  background-position: top fixed;
}
.pricing_box {
  padding-left: 320px;
  padding-right: 320px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background: url("../Image/balls.png");
  background-size: 800px 600px;
  background-position: center;
}

.landing_heading {
  font-size: 52px;
  font-weight: 900;

  font-family: "Roboto", sans-serif;
}
.landing_subtitle {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;

  /* opacity: 0.5; */
  /* font-family: "Roboto", Helvetica, Arial, serif; */
}

/* .box_shaoe{
 margin-right : 40px;
max-width : 320px;
} */
.box_shaoe {
  margin-right: 30px;
  max-width: 22%;
  box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.2);
  -webkit-box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.2);
  -moz-box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.2);
  padding: 30px 30px;
}

.newss {
}
.landing_button {
  width: 190px;
  background-color: rgb(183, 28, 28);
  padding: 8px;
  font-weight: bold;
  color: white;
  /* margin-top: 15px; */
  box-shadow: 0px 4px 15px -5px #c0c0c0;
  margin-bottom: 40px;
}

/* .box_shaoe{
  box-shadow: 0px 4px 15px -5px #c0c0c0;
  max-width:300px;
  margin-right : 30px;
} */
.landing_button:hover {
  color: white;
}
.landing_company_header {
  color: black;
  font-weight: bolder;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 17px;
  background-color: white;
}
.landing_image_section {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 20px;
  margin-bottom: 30px;
  /* background: #f7f8fb; */
  /* height : 200px; */
  padding-top: 40px;
  padding-bottom: 60px;
}
.landing_image {
  width: 110px;
  margin-right: 45px;
  margin-top: 30px;
}

.about_fleet {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.image_key {
  height: 50px;
  width: 50px;
  margin-bottom: 25px;
  /* background: url("../Image/oval.png");
  background-size: cover;
  background-repeat: no-repeat, repeat; */
}
#top_image {
  width: 590px;
  padding-right: 0px;
}

.digital_image_1 {
  position: relative;
  width: 500px;
  height: 400px;
  left: 195px;
}
.digital_image_2 {
  position: relative;
  width: 500px;
  top: -300px;
  left: 75px;
}

.digital_image_3 {
  position: absolute;
  width: 500px;
  height: 630px;
  /* left: 120px;
  top: -120px; */
}

.don {
  top: 100px;
}
.ev {
  margin-top: -250px;
}

#contactt {
  max-width: 550px;
  max-height: 510px;
  margin: auto;
}

.conatct_header {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 40px;
  font-family: "Roboto", Helvetica, Arial, serif;
}

.inputt {
  border: 1px solid gray;
  margin-top: 20px;
}

/* .inputt:hover {
  border: 2px solid rgb(183, 28, 28);
}
#inputt:hover {
  border: 2px solid rgb(183, 28, 28);
} */

.nav1 {
  padding-right: 170px;
  margin-top: -17px;
}

.social_image {
  width: 16px;
  font-weight: bolder;
}
.social_image1 {
  width: 9px;
  font-weight: bolder;
}
.pricing_page {
  text-align: center;
}
.pricing_title {
  margin: 0 auto;
}
.pricing_box_col {
  box-shadow: 0px 4px 15px -3px #c0c0c0;
  background-color: white;
  padding: 10px;
}

.box_2 {
  max-width: 300px;
  margin-right: 30px;
}
.pricing_price {
  font-family: "Roboto", Helvetica, Arial, serif;
  opacity: 0.6;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.list {
  font-family: "Roboto", Helvetica, Arial, serif;
  list-style-type: none;
  margin-top: 20px;
}
.tick {
  width: 17px;
  margin-right: 10px;
}

.pl_button {
  width: 200px;
}
.fr_button {
  width: 230px;
}

.pricing_list {
  margin-top: 8px;
  opacity: 0.7;
}
.pricing_list1 {
  margin-top: 8px;
  margin-left: -35px;
}

.pricing_list_header {
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 13px;
}
.pricing_list_subheader {
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 13px;
  margin-top: -11px;
  opacity: 0.5;
}
.more_details {
  padding-left: 30px;
}
.conatinnn {
  background: url("../Image/balls.png");
  background-size: 800px 600px;
  background-position: center;
  background-color: rgba(243, 154, 154, 0.1);
}
.sin {
  padding-right: 200px;
}
.review {
  padding-left: 220px;
  padding-right: 220px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: white;
}

.image_key1 {
  width: 60px;
}

.review_name1 {
  opacity: 0.8;
  font-weight: 500;
}
.review_position {
  opacity: 0.5;
  margin-top: -15px;
  font-size: 13px;
  font-weight: 500;
}
.review_col1 {
  max-width: 250px;
  margin-right: 40px;
}
@media only screen and (max-width: 500px) {
  .conatin {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
  }

  .footer1 {
    width: 100%;

    top: 30px;

    margin-bottom: -500px;
  }

  .review_col1 {
    max-width: 300px;
    padding-left: 30px;
  }

  .review {
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
  }
  .footer {
    position: relative;
  }
  .app_header {
    margin-top: 60px;
  }

  .digital_image_3 {
    position: relative;
    width: 295px;
    height: 500px;
    left: -10px;
    top: -120px;
    margin-top: 90px;
  }

  .sin {
    padding-right: 0px;
  }
  #top_image {
    width: 270px;
    margin-left: -40px;
  }
  .ev {
    margin-top: -200px;
  }
  .box_2 {
    margin-top: 25px;
  }

  .nav1 {
    padding-right: 0px;
  }

  .landing_heading {
    font-size: 31px;
    font-weight: bold;
    font-family: "Roboto", Helvetica, Arial, serif;
  }
  .landing_image_section {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .landing_image {
    width: 140px;
    margin-right: 45px;
    margin-top: 25px;
  }

  .landing_button {
    width: 100%;
    margin-top: 10px;
  }
  .about_fleet {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 300px;
    /* height:110vh; */
    margin-bottom: 30px;
  }

  .digital_image_1 {
    position: relative;
    width: 300px;
    height: 300px;
    left: -35px;
    top: -60px;
  }
  .digital_image_2 {
    position: relative;
    width: 300px;
    top: -220px;
    left: -35px;
  }
  .conatinn {
    /* padding-right: 40px; */
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer_container {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .pricing_box {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .carousel-indicators li {
    list-style-type: disc;
    font-size: 30px;
    color: rgb(183, 28, 28);
  }

  .conatinnn {
    /* padding-right: 40px; */
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .don {
    top: -50px;
  }
  .don1 {
    margin-top: -100px;
  }
  .don11 {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .box_1 {
    max-width: 300px;
    margin-right: 50px;
  }
  .carsole_head {
    margin-top: 50px;
  }

  .carousel-indicators li {
    list-style-type: disc;
    font-size: 30px;
    color: rgb(183, 28, 28);
  }
  .sin {
    padding-right: 0px;
  }
  .review {
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
  }
  .bottom_navbar {
    margin-top: -100px;
  }
  .box_shaoe {
    max-width: 110%;
    margin-top: 10px;
    box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.2);
    padding: 30px 30px;
  }

  /* .digital_image_3 {
    position: relative;
    width: 295px;
    height: 500px;
    left: 90px;
    top: 10px;
  } */
  .don11 {
    margin-top: 40px;
  }
  /* .digital_image_4 {
    position: relative;
    width: 300px;
    top: -350px;
    left: -35px;
  } */
  .ev {
    margin-top: -200px;
  }
  #top_image {
    width: 310px;
    padding-left: 20px;
  }
  .carsole_head {
    padding-top: 30px;
  }
  .name_carsole {
    padding-top: 10px;
    padding-left: 10px;
  }
  .title_carsole {
    padding-left: 10px;
  }
  .cardd {
    padding-left: 30px;
    padding-right: 30px;
  }
  .box_2 {
    max-width: 300px;
  }

  .backdody {
    padding-left: 30px;
    padding-right: 30px;
  }
  .bottom_navbar {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pl_button {
    width: 100%;
  }
  .conatin {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .landing_heading {
    font-size: 31px;
    font-weight: bold;
    font-family: "Roboto", Helvetica, Arial, serif;
  }
  .landing_image_section {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .donn {
    top: 0px;
  }
  .landing_image {
    width: 140px;
    margin-right: 45px;
    margin-top: 25px;
  }
  .about_fleet {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .digital_image_1 {
    position: relative;
    width: 300px;
    height: 300px;
    left: -35px;
    top: -60px;
  }
  .digital_image_2 {
    position: relative;
    width: 300px;
    top: -220px;
    left: -35px;
  }
  .don {
    top: -50px;
  }
  .conatinn {
    /* padding-right: 40px; */
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer_container {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .conatinnn {
    /* padding-right: 40px; */
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .pricing_box {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .carousel-indicators li::before {
    content: "\2022";
    color: #bc1c1c;
    font-weight: bold;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    left: 00px;
    top: -12px;
  }
}
